<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.itorah.chavrusachat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chavrusachat</string>
			</array>
		</dict>
	</array>
	<key>HANLIN_API_KEY</key>
	<string>$(HANLIN_API_KEY)</string>
	<key>HANLIN_OPEN_API_KEY</key>
	<string>$(HANLIN_OPEN_API_KEY)</string>
	<key>INIntentsSupported</key>
	<array/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>ChavrusaChat uses the camera only when you ask it to take a photo.</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Scripting Package</string>
			<key>UTTypeIdentifier</key>
			<string>com.hanlin.scripting-package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>scripting</string>
					<string>hanlinNativeScript</string>
					<string>hanlinExpo</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>NSAlarmKitUsageDescription</key>
	<string>ChavrusaChat schedules alarms and study reminders only when you ask it to.</string>
	<key>com.apple.developer.translation-ui-provider.network-access</key>
	<true/>
</dict>
</plist>
